[Unit]
Description=Raspi Access Point Server Service
After=network.target

[Service]
WorkingDirectory=/this/path/will/be/replaced
ExecStart=/usr/bin/npm start
Restart=on-failure
RestartSec=10
Environment=PORT=3000

[Install]
WantedBy=multi-user.target