[Unit]
Description=Raspi Access Point Server Service
After=network.target

[Service]
WorkingDirectory=/home/domin/Desktop/dev/new/raspi-captive-portal/server
ExecStart=/usr/bin/npm start
Restart=on-failure
RestartSec=10
Environment=PORT=3000

[Install]
WantedBy=multi-user.target